.intro {
	width: 400px;
	height: 800px;
	background: #DADADA;
	margin: 0 auto;
}
.intro .khung {
	width: 400px;
	height: 600px;
	background:#1DC176 ;
}
.intro .khung::before{
	content: "\201c";
	font-size: 6rem;
	font-weight: bold;
	font-family: serif;
	color: white;
	position: absolute;
}
.intro .vuong {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 575px;
	left:800px;
	transform: rotate(-45deg);
	background: #1DC176;
	position: absolute;
}
.khung p {
	padding-right: 50px;
	padding-left: 50px;
	font-size: 30px;
	padding-top: 50px;
	color: white;
}
.intro .hinhtron {
	border-radius: 50%;
	height: 100px;
	width: 100px;
	background: url(https://scontent.fdad2-1.fna.fbcdn.net/v/t1.0-9/75253023_946513945718418_2217353106524471296_n.jpg?_nc_cat=111&_nc_eui2=AeEWfP8hLNODSEeQ4QEsfd-H1tOgLbU4NMNt4H9JTWCFLMbm_y3Or-FvDURm3vWJp7jTl3vbvZbdiH9ZoxuN8q-RHqvhbrRSeX9vQ2T46T7iIA&_nc_oc=AQmLKinLfBxVz3_SCofcktkiVV-sLVjD1XWoQX9yhFfPSaFcC4SCLHaq2G37BQyamNQ&_nc_ht=scontent.fdad2-1.fna&oh=de7909094b503b417130913c30d5014b&oe=5E542621);
	background-size: 100px 100px;
	border: 0.5rem solid white;
	margin-top: 50px;
	margin-left: 20px;
	float: left;
}
.intro .chu p{
	padding-top: 40px;
	color: red;
	padding-left: 200px
}
.intro .blockquote-footer {
	padding-left: 200px;
	padding-top: 50px;
}