.background{
	width: 100%;
	height: 550px;
	background: #3DB9ED;
	position: relative;
}
.background .top{
	width: 100%;
	height: 270px;
	/*background: gray*/
}
.top .ima-right{
	
	width: 35%;
	height: 250px;
	background: blue;
	margin-left: 10px;
	position: absolute;
	top: 20px;
}
.top .ima-right img{
	
	width: 100%;
	height: 100%;
}
.top .hinh {
	position: absolute;
	left: 37%;
	top: 100px;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid white;
	border-bottom: 50px solid transparent;
}

blockquote{
	position: relative;
}
.blockquote::before{
	font-family: sans-serif;
	font-size: 3rem;
	color: red;
	content: "\201C";
	position: absolute;
	top: 10px;
}
.blockquote::after{
	font-family: sans-serif;
	color: red;
	font-size: 3rem;
	content: "\201D";
	position: absolute;
	top: 90px;
	left: 530px;
}
.top .content-left{
	width: 59%;
	height: 250px;
	background: white;
	margin-left: 40%;
	position: absolute;
	top: 20px;
}
.top .ima-left{
	width: 90px;
	height: 90px;
	background: #3ADEB5;
	margin-left: 80%;
	border-radius: 50%;
}
.ima-left img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.ima-left .footeer{
	position: absolute;
	left: 470px;
	bottom: 40px;
	height: 20px;
	width: 250px;
	/*color: blue;*/
}
.ima-left .overlay{
	/*background: gray;*/
	opacity: 0.5;
}

.background .bottom{
	width: 100%;
	height: 270px;
	margin-top: 10px;
	/*background: #F67A7A;*/
}
.bottom .ima-right{
	width: 35%;
	height: 250px;
	background: blue;
	margin-left: 64%;
}
.bottom .ima-right img{
	
	width: 100%;
	height: 100%;
}
.bottom .content-left{
	width: 59%;
	height: 250px;
	background: white;
	position: absolute;
	bottom: 20px;
}
.bottom .ima-left{
	width: 90px;
	height: 90px;
	background: #3ADEB5;
	margin-left: 80%;
	border-radius: 50%;
}
.bottom .hinh {
	position: absolute;
	left: 56%;
	top: 350px;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid white;
	border-bottom: 50px solid transparent;
}